.img-fluid {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.member-meta span {
    font-size: 10pt;
}

#main > section.one {
  background-color: rgb(129, 145, 142);
  background-image: url(../img/banner.jpg);
  height: 1024px;
}

#main > #top strong {
  font-weight: bold;
  font-size: 110%;
}

#main > #top > .container {
  text-shadow: 0px 0px 10px black;
}

#main > .fiche {
  text-align: inherit;
  padding: 1em;
}

#main > .fiche h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

#main > .fiche > ul {
  display: list-item;
}

#main > .fiche > ul > li {
  list-style-position: inside;
  list-style-type: disc;
}

#main > .fiche > ol {
  display: list-item;
}

#main > .fiche > ol > li {
  list-style-type: decimal;
  list-style-position: inside;
}

strong {
  font-weight: bold;
}

.content-gallery {
  display: inline;
}

.content-gallery-image {
  width: 33%;
}

.item {
  margin: 5px;
}

.item img {
  height: 200px;
  object-fit: cover;
}