{{ $action := .Site.GetPage "/action" }}
<div>
    <div class="row">
        {{ range first 1 $action.Pages }}
        <div class="12u">
            <article class="item">
                <a class="image fit" href="{{ .Permalink }}"><img src="{{ .Params.Img }}" alt="{{ .Title }}" /></a>
                <header>
                    <h3>{{ .Title }}</h3>
                </header>
            </article>
        </div>
        {{ end }}
    </div>
    <div class="row">
        {{ range after 1 $action.Pages }}
        <div class="4u 12u$(mobile)">
            <article class="item">
                <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.Img }}" alt="{{ .Title }}" /></a>
                <header>
                    <h3>{{ .Title }}</h3>
                </header>
            </article>
        </div>
        {{ end }}
    </div>
</div>