<div class="embed video-player">
    <iframe width="640" height="480" sandbox="allow-same-origin allow-scripts"
        src="https://tube.crapaud-fou.org/videos/embed/{{ index .Params 0 }}" frameborder="0"
        allowfullscreen></iframe>
</div>