<center>
    <div class="embed video-player">
        <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen frameborder="0">
        </iframe>
    </div>
</center>