{{ define "main" }}
{{ $category := .File.BaseFileName }}
<section>
    <h1>{{ .Title }}</h1>
    <p>
        {{ .Content }}
    </p>
    <div class="row">
        <div class="6u 12u$(mobile)">
            {{ $action := .Site.GetPage "/fiches" }}
            {{ range $action.Pages }}
            {{ if in .Params.Categories $category }}
                {{ $RealUrl := .Permalink  }}
                {{ if (isset .Params "exturl") }}
                    {{ $RealUrl = .Params.ExtUrl }}
                {{ end }}
            <article class="item">
                <a class="image" href="{{ $RealUrl }}"><img src="{{.Site.BaseURL}}{{ .Params.Img }}"
                        alt="{{ .Title }}" /></a>
                <header>
                    <h2>{{ .Title }}</h2>
                </header>
            </article>
            {{ end }}
            {{ end }}
        </div>
        <div class="6u 12u$(mobile)">
            {{ $action := .Site.GetPage "/actions" }}
            {{ range $action.Pages }}
            {{ if in .Params.Categories $category }}
                {{ $RealUrl := .Permalink  }}
                {{ if (isset .Params "ExtUrl") }}
                    {{ $RealUrl = .Params.ExtUrl }}
                {{ end }}
            <article class="item">
                <a class="image" href="{{ $RealUrl }}"><img src="{{.Site.BaseURL}}{{ .Params.Img }}"
                        alt="{{ .Title }}" /></a>
                <header>
                    <h2>{{ .Title }}</h2>
                </header>
            </article>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}